package components

templ Footer(year string) {
	<footer hx-boost="false" class="bg-primary text-std p-3 text-center">
		<div class="my-3 text-sm italic flex justify-center w-full gap-2 items-center">
			<a href="/policy">Privacy Policy</a>
			<a href="/terms">Terms & Conditions</a>
		</div>
		<p class="text-sm">
			&copy; { year } Rosskery. All rights reserved.
		</p>
	</footer>
}
