package components

templ Suggestions(suggestions []string, nonce string) {
	<ul class="m-2 max-h-32 overflow-y-auto border border-gray-300 rounded bg-white shadow-lg">
		for _, suggestion := range suggestions {
			<li id="suggestion" class="p-2 hover:italic hover:bold cursor-pointer">{ suggestion }</li>
		}
		@Script("/assets/dist/suggestions.js", nonce)
	</ul>
}
