@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "JosefineSans";
  src: url("../fonts/JosefinSansRegular-x3LYV.ttf");
  font-display: swap;
} */

@layer base {
  :root {
    --color-std: 241 225 228;
    --color-primary: 112 22 60;
    --color-accent: 228 87 46;
    --color-success: 65 69 53;
    --color-error: 228 38 28;
  }
}

@layer {
  #logout {
    @apply w-full !bg-red-500 p-2 tracking-widest !border-red-500 !border-2 shadow-md !font-bold;
  }
}

html {
  scroll-behavior: smooth;
  /* font-family: "JosefineSans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator {
  display: flex;
}
.htmx-request.htmx-indicator {
  display: flex;
}

section img,
#gallery img {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#gallery img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.legal h1 {
  @apply font-bold italic text-2xl text-accent;
}

.legal h2 {
  @apply font-bold text-accent italic text-xl;
}

.legal h3 {
  @apply text-accent italic text-lg;
}

.legal p {
  @apply w-full md:w-2/3 leading-6 my-2;
}

.legal li,
.legal li > p {
  @apply py-2 italic underline text-center w-full underline-offset-4;
}

.legal ul {
  @apply flex flex-col w-full md:w-2/3 justify-center items-center py-2;
}
