package views

import "github.com/Francesco99975/rosskery/views/components"

templ Offline(nonce string) {
	<head>
		@components.Stylesheet("/assets/dist/offline.css")
	</head>
	<main id="offline">
		<h1>
			We are Offline at the moment
		</h1>
	</main>
	@components.Script("/assets/dist/offline.js", nonce)
}
